:root {
    --clr: rgb(50,114,30);
}


.content{
    color: var(--clr);
    width: 70%;
    min-width: 400px ;
    border: 2px dashed var(--clr) ;
    border-radius: 15px;
    margin: 30px auto;
    padding: 0 15px;
}
h1, h2 {
    text-align: center;
}
p{
    font-family: Arial;
    text-align: right;
}
strong, h2{
    text-decoration: underline;
}